<table class="table">
  <tr>
    <th>ショップメニュー</th>
  </tr>
  <tr>
    <td><%= link_to "商品一覧", shop_items_path %></td>
  </tr>
  <tr>
    <td>口コミ</td>
  </tr>
  <tr>
    <td><%= link_to "予約一覧", shop_pre_orders_path %></td>
  </tr>
  <tr>
    <td><%= link_to "ショップ情報編集", shop_edit_information_path %></td>
  </tr>
</table>