<table class="table">
  <tr>
    <th>ショップメニュー</th>
  </tr>
  <tr>
    <td>商品一覧</td>
  </tr>
  <tr>
    <td>口コミ</td>
  </tr>
  <tr>
    <td>予約一覧</td>
  </tr>
  <tr>
    <td><%= link_to "ショップ情報編集", shop_edit_information_path %></td>
  </tr>
</table>