<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h1>ショップTOP</h1>
    <hr>
    <p>新着とおすすめを並べる</p>

    <h2>New Item</h2>
    <hr>
    <h2>Pick Up</h2>
    <hr>

  </div>
  <div class="col-3 px-3">
    <%= render 'menu' %>
  </div>
</div>