<div class="container d-flex flex-row-reverse pt-5">
  <div class="col-9 px-5">
    <h2>商品情報を編集する</h2>
    <hr>

    <%= render 'form', item: @item, url: shop_item_path %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/shop_homes_menu' %>
  </div>
</div>