<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2><span class="h4">口コミは</span> <%= @reviews.count %><span class="h4"> 件です</span></h2>
    <hr>
    <%= render 'index', reviews: @reviews %>
    <%= link_to '◀ 管理画面TOPに戻る', shop_top_path %>
  </div>

  <div class="col-3 px-3">
    <%= render 'shop/homes/menu' %>
  </div>
</div>