<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>ショップ一覧</h2>
    <hr>

    <%= render 'public/shops/index', shops: @shops %>
  </div>


  <div class="col-3 px-3">
    <%= render 'admin/homes/menu' %>
  </div>
</div>