<% if pre_order.status = 0 %>
  <div class="bg-danger text-white w-25 px-2"><%= pre_order.status_i18n %></p>
<% elsif pre_order.status = 2 %>
  <div class="bg-success text-white w-25 px-2"><%= pre_order.status_i18n %></p>
<% else %>
  <div class="bg-dark text-white w-25 px-2"><%= pre_order.status_i18n %></p>
<% end %>