<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h1>予約一覧</h1>
    <hr>

    <%= render 'index', pre_orders: @pre_orders %>

  </div>
  <div class="col-3 px-3">
    <%= render 'shop/homes/menu' %>
  </div>
</div>