<div class="d-flex flex-wrap">
  <% tags.each do |tag| %>
    <div class="pe-2 my-1">
      <%= link_to "/search?model=tag&content=#{tag.name}", class: "px-2 py-0 btn btn-tag rounded-pill" do %>
        # <%= tag.name %>
      <% end %>
    </div>
  <% end %>
</div>
