<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center bg-member <%= (admin_signed_in? ? "bg-admin" : "" ) %> <%= (shop_signed_in? ? "bg-shop" : "" ) %>">商品</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tr-link" onclick='window.location="<%= root_path %>"' role="link">
      <td>アイテム一覧</td>
    </tr>
    <tr class="tr-link">
      <td>花束品(リンク未)</td>
    </tr>
    <tr class="tr-link">
      <td>アレンジ品(リンク未)</td>
    </tr>
    <tr class="tr-link">
      <td>母の日品(リンク未)</td>
    </tr>
  </tbody>

</table>