<div class="swiper">
  <div class="swiper-wrapper">
    <% @pick_up_tags.each do |pick_up_tag| %>
      <div class="swiper-slide">
        <%= link_to pick_up_tag_path(pick_up_tag) do %>
          <div>
            <%= image_tag pick_up_tag.get_tag_image(900,300), class: "pickup_img-ratio mb-4" %>
            <div class="position-absolute bottom-0 start-0 end-0 text-white p-4 fw-bold h4">
              <%= pick_up_tag.name %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="swiper-pagination text-white"></div>
  <div class="swiper-button-prev text-white"></div>
  <div class="swiper-button-next text-white"></div>
</div>

<script>
document.addEventListener('turbolinks:load', function() {
  const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
});
</script>