<div class="container d-flex flex-column pt-3 mt-3">
  <div class="col-12 px-3">
    <h1>About</h1>
    <hr>

    <div class="bg-light p-5">
      <h2>こんなお悩みありませんか？</h2>
      <hr>
      <p>花屋1.お客さまからの予約を一覧で確認できるようにしたい。</p>
      <p>花屋2.お客さまにどんな花束やアレンジが可能か知ってもらいたい。</p>
      <p>花屋3.製作したアレンジやお花の入荷状況をお客さまに知ってもらいたい。</p>
      <p></p>

      <p>ユーザー1.お花屋さんへの花束やアレンジの依頼の仕方が分からない。</p>
      <p>ユーザー2.依頼が可能な花束やアレンジのバリエーションを知りたい。</p>
      <p>ユーザー3.好きなお花屋さんの新着商品や情報を知りたい</p>

      <h2>そんなあなたの悩みをまるっと解消します</h2>
      <hr>
      <p>
        理由1.気軽に予約できる<br>
        お花屋さんが登録した商品を選ぶだけで簡単に予約が可能
      </p>
      <p>
        理由2.ショップごとの商品のバリエーションが分かる<br>
        お花屋さんが登録した商品を見ることでどんな花束やアレンジが可能か分かりやすい
      </p>
      <p>
        理由3.お花屋さんが作成するブログ記事が見れる<br>
        実際に作成したアレンジやお花の入荷状況を発信することでショップとの繋がりが生まれる
      </p>

      <h2>エビデンス</h2>
      <hr>
      <p>
        ※後で追加
      </p>

      <h2>オファー</h2>
      <hr>
      <p>
        ・お花屋さんは差別化が難しいけど、それぞれしっかり個性があり、商品やお店の情報を発信することでその個性を知ってもらえる<br>
        ・お花を選ぶ側も、冠婚葬祭などの大切なときに利用されることが多いお花だからこそ、ショップの想いや背景も大切にして選びたいもの<br>
        ・お花屋さんと購入者がお互いに満足感を持って取引できるようになる
      </p>
    </div>

    <% unless member_signed_in? || shop_signed_in? %>
      <div class="d-flex flex-row flex-wrap mb-3 mt-5">
        <div class="login-content col-6 px-3 mb-5">
          <h3>お花を買いたい方</h3>
          <hr>
          <div class="p-3">
            <div class="col-6 d-grid mx-auto">
              <%= link_to "ユーザーさまの新規登録はこちら", new_member_registration_path, class: "btn btn-info p-2" %>
            </div>
          </div>
        </div>

        <div class="login-content col-6 px-3">
          <h3>予約を受け付けたいショップ</h3>
          <hr>
          <div class="p-3">
            <div class="col-6 d-grid mx-auto">
              <%= link_to "お花屋さんの新規登録はこちら", new_shop_registration_path, class: "btn btn-outline-info p-2" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>