<div class="container d-flex flex-column align-items-center pt-3 mt-3">
  <div class="about-content col-9 px-3">
    <h1>About</h1>
    <hr>

    <div class="bg-info-subtle p-5">
      <h2 class="text-center mb-5">こんなお悩みありませんか？</h2>
      <div class="about-item d-flex flex-row justify-content-center bg-light col-10 ms-auto fw-bold">
        <p>お客さまからの予約を一覧で確認できるようにしたい。<i class="fa-regular fa-comment pe-3 text-black-50"></i></p>
      </div>
      <div class="about-item col-10 fw-bold text-center">
        <p>お客さまにどんな花束やアレンジが可能か知ってもらいたい。<i class="fa-solid fa-comment ps-3 text-black-50"></i></p>
      </div>
      <div class="about-item bg-light col-10 ms-auto fw-bold text-center">
        <p>製作したアレンジやお花の入荷状況をお客さまに知ってもらいたい。<i class="fa-regular fa-comment pe-3 text-black-50"></i></p>
      </div>
      <div class="about-item col-10 fw-bold text-center">
        <p>お花屋さんへの花束やアレンジの依頼の仕方が分からない。<i class="fa-solid fa-comment ps-3 text-black-50"></i></p>
      </div>
      <div class="about-item bg-light col-10 ms-auto fw-bold text-center">
        <p>依頼が可能な花束やアレンジのバリエーションを知りたい。<i class="fa-regular fa-comment pe-3 text-black-50"></i></p>
      </div>
      <div class="about-item col-10 fw-bold text-center">
        <p>好きなお花屋さんの新着商品や情報を知りたい<i class="fa-solid fa-comment ps-3 text-black-50"></i></p>
      </div>

      <h2 class="text-center my-5">そんなあなたの悩みをまるっと解消します</h2>
      <div class="about-item fw-bold">
        <p class="h5 fw-bold text-center pb-3">Point1.「気軽に予約できる」</p>
        <p class="text-center text-black-50">
          お花屋さんが登録した商品を選ぶだけで簡単に予約が可能です
        </p>
      </div>
      <div class="about-item fw-bold">
        <p class="h5 fw-bold text-center pb-3">Point2.「ショップごとの商品のバリエーションが分かる」</p>
        <p class="text-center text-black-50">
          お花屋さんが登録した商品を見ることでどんな花束やアレンジが可能か分かりやすくなります
        </p>
      </div>
      <div class="about-item fw-bold">
        <p class="h5 fw-bold text-center pb-3">Point3.「お花屋さんの情報をいち早くチェックできる」</p>
        <p class="text-center text-black-50">
          実際に作成したアレンジやお花の入荷状況を発信することでショップとの繋がりが生まれます
        </p>
      </div>

      <h2 class="text-center my-5">おすすめポイント</h2>
      <div class="about-item fw-bold">
        <p>
          お花屋さんは商品としては同じお花を扱うお店だけど、それぞれしっかり個性があります。<br>
          ですが、外部からは伝わりにくいもの…商品やお店の情報を発信したり、他のお店と比べることでお花屋さんそれぞれの個性や特徴をを知ることが出来ます。
        </p>
      </div>
      <div class="about-item fw-bold">
        <p>
          お花を選ぶ側も、冠婚葬祭などの大切なときに利用されることが多いお花だからこそ、ショップの想いや背景も大切にして選びたいもの。<br>
          いろいろあるお花屋さんの中からお気に入りのショップを見つけて、特別な日のための大切なお花を依頼してみましょう。
        </p>
      </div>
      <div class="about-item fw-bold">
        <p>
          なんとなく慣れていないと購入に踏み切れないけれど、日常でもお花を楽しんでみたい…という方でも気軽にお花を予約することが出来ます。<br>
          お花のプロがご紹介する選りすぐりのアイテムの中から、自分のお気に入りを見つけて、お花のある暮らしを楽しんでみましょう。
        </p>
      </div>
    </div>

    <% unless member_signed_in? || shop_signed_in? %>
      <div class="d-flex flex-row flex-wrap mb-3 mt-5">
        <div class="login-content col-6 px-3 mb-5">
          <h3>お花を買いたい方</h3>
          <hr>
          <div class="p-3">
            <div class="col-6 d-grid mx-auto">
              <%= link_to "ユーザーさまの新規登録はこちら", new_member_registration_path, class: "btn btn-info p-2" %>
            </div>
          </div>
        </div>

        <div class="login-content col-6 px-3">
          <h3>予約を受け付けたいショップ</h3>
          <hr>
          <div class="p-3">
            <div class="col-6 d-grid mx-auto">
              <%= link_to "お花屋さんの新規登録はこちら", new_shop_registration_path, class: "btn btn-outline-info p-2" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>