<div class="container d-flex flex-column pt-3">
  <div class="col-12 px-3">
    <h1>About</h1>
    <hr>
    <p>お花屋さんとお花を購入したい人との架け橋になります。画像の上にログインへのリンク</p>

    <h2>こんなお悩みありませんか？</h2>
    <hr>
    <p>1.</p>
    <p>2.</p>
    <p>3.</p>

    <h2>そんなあなたの悩みをまるっと解消します</h2>
    <hr>
    <p>1.</p>
    <p>2.</p>
    <p>3.</p>

    <h2>エビデンス</h2>
    <hr>

    <h2>オファー</h2>
    <hr>

    <p>登録へのリンク</p>

  </div>
</div>