<div class="about-top col-12">
  <h1 class="d-flex flex-column py-4 text-center fs-2">
    ご利用ガイド</span>
  </h1>
</div>

<div class="container d-flex flex-column align-items-center pt-3 mt-3">
  <div class="about-content col-9 px-3">
  <!--一般ユーザー側-->
    <h2>一般ユーザー側</h2>
    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          ショップや商品を探す
        </h3>
        <hr>
        <p>
          ヘッダーの検索から商品を検索することができます。<br>
          検索には、<strong>商品検索・ショップ検索</strong>の2パターンがあります。<br>
          都道府県を指定しての絞り込み検索も可能です。<br>
          また、PCでは左ナビから、スマートフォン等ではページ下のメニューにタグ検索もありますので、関連商品の検索にご活用ください。
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          会員登録
        </h3>
        <hr>
        <p>
          一般会員登録をすると、商品の予約が出来るようになります。<br>
          また、商品のブックマークやお気に入りショップの登録、ショップへの個別メッセージ機能を利用してのお問い合わせも可能です。<br>
          登録前に機能を確認できる<strong>「お試しログイン」</strong>もありますので、ぜひ、お気軽にご覧になってみてください。<br>
          ※お試しログインでは商品の予約、ショップへのメッセージ送信はできません。
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          退会
        </h3>
        <hr>
        <p>
          一度退会するとログインはできなくなります。<br>
          また、退会後もショップでの予約履歴や口コミ、メッセージがある場合の記録は残ったままになります。
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          ご予約の流れ
        </h3>
        <hr>
        <p>
          予約したい商品の商品ページから個数を選択し、<strong>「予約する」</strong>をクリックして予約内容の入力に進んでください。<br><br>
          ・<strong>予約当日以前の日付</strong>は指定できません。<br>
          ・来店日時は、ショップの営業時間、定休日をご確認の上ご指定ください。<br>
          ・商品によってキャンセル期限が設けられています。期限を過ぎてからのキャンセルにはキャンセル料が発生するのでご注意ください。<br>
          ・緊急時にショップから連絡ができるよう、予約の前に<strong>会員情報に電話番号が正しく登録されているか</strong>ご確認ください。<br>
          ・ご予約が確定すると、会員情報<strong>の名前、住所、電話番号</strong>がショップに分かるようになっています。（ニックネームは口コミを投稿されるまでショップには伝わりません。）<br>
          ・商品代金は来店時に、ショップへお支払いください。<br>
          ※ショップによって、現地でご利用可能なお支払方法は異ります。お支払い方法につきましては、ショップの詳細ページをご確認ください。
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          予約状況を確認する
        </h3>
        <hr>
        <p>
          予約中の商品や予約履歴はマイページの<strong>「予約一覧」</strong>から確認することができます。<br><br>
          ・予約一覧ページでは、現在予約中の商品と、過去の予約履歴を確認することが出来ます。<br>
          ・ショップで商品を購入し、来店済みになると口コミを投稿できるようになります。<br>
          ・「支払予定金額」はサイトから<strong>予約した際の金額</strong>になります。来店時にショップとのやり取りや追加の注文などがあった際も、履歴には反映されませんのでご注意ください。<br>
          ・予約内容詳細の予約者情報は来店時の情報になります。会員情報を変更してもこちらの表記には反映されません。<br>
          ・予約履歴の商品情報は予約時の情報が反映されています。ショップ側が商品ページを修正しても予約履歴の商品名や金額は変わりませんが、予約内容詳細からリンクしている商品ページ内の表記は予約時と変わっている場合があります。
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          予約のキャンセル
        </h3>
        <hr>
        <p>
          予約商品にはそれぞれ、キャンセル期限が設けられています。<br>
          ショップによってキャンセル規定は異なりますので、ショップ情報をご確認ください。また、ショップが定めたキャンセル期限を過ぎた場合は、サイトからのキャンセルは不可となります。その際のキャンセルはショップまで直接ご連絡をお願いします。
        </p>
        <h3 class="d-flex flex-column mt-5">
          キャンセル料について
        </h3>
        <hr>
        <p>
          ショップが定めたキャンセル期限を過ぎるとキャンセル料が発生します。<br>
          ショップが設定したキャンセル規定の詳細については、ショップ詳細ページや商品詳細ページからご確認ください。
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          口コミ
        </h3>
        <hr>
        <p>
          口コミは、予約後にショップへ来店して実際に購入された会員の方の投稿です。口コミの投稿期限はご来店から<strong>2週間以内</strong>となっています。<br><br>
          1回の予約に対して口コミの投稿は1回になり、投稿後に編集はできません。<br>
          投稿された口コミは、全ての方がショップ詳細ページから閲覧することが出来ますので、ご利用にあたってはご自身で十分に内容をご確認ください。<br><br>
          また、以下のように不適切な内容と判断した場合、管理者側で口コミを非表示にする場合もあります。<br>
          ・実際に利用していない会員の投稿<br>
          ・意図的な同一内容の多数投稿<br>
          ・商品やショップと関係ない内容<br>
          ・事実と反する内容・虚偽の内容<br>
          ・著作権、商標権、プライバシー権、名誉等、他者の権利を侵害する内容<br>
          ・個人の名前・電話番号その他の連絡先の投稿<br>
          ・誹謗中傷や差別表現などの不適切な内容<br>
          ・掲示板に掲示することが不適切と管理者側で判断した内容
        </p>
      </div>
    </div>

    <div class="about-point">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          メッセージ
        </h3>
        <hr>
        <p>
          ショップ詳細ページの<strong>「ショップにメッセージを送る」</strong>を押下するとショップへ個別メッセージを送ることが出来ます。<br>
          商品のお問い合わせなどにご利用ください。<br>
          また、左ナビ（スマートフォンの場合はページ下部のメニュー欄）の「メッセージ管理」からは、ショップとやり取りしたメッセージの一覧を確認することが出来ます。<br>
          ※最初のメッセージはユーザーからしか送ることが出来ません。<br>
          メッセージは新着順に表示され、メッセージを押下すると各ショップとのメッセージのやり取りが出来ます。
        </p>
      </div>
    </div>

  <!--ショップ側-->
    <h2 class="pt-5">ショップ側</h2>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          会員登録
        </h3>
        <hr>
        <p>
          ショップ登録をすると、商品の予約受付が出来るようになります。<br>
          また、口コミの確認や一般ユーザーから送られる個別メッセージ機能を利用してのお問い合わせの返信も可能です。<br>
          登録前に機能を確認できる<strong>「お試しログイン」</strong>もありますので、ぜひ、お気軽にご覧になってみてください。<br>
          ※お試しログインでは商品の登録はできません。<br>
          <%= link_to 'ショップのログインはこちら', new_shop_session_path %>
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          退会
        </h3>
        <hr>
        <p>
          一度退会するとログインはできなくなります。<br>
          また、退会後もショップでの予約履歴や口コミ、メッセージがある場合の記録は残ったままになります。<br>
          <strong>退会後は一覧に商品が表示されず、ショップ詳細ページも閲覧することができなくなります</strong>が、商品詳細ページにはURLから直接アクセスできるようになっています。
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          商品登録
        </h3>
        <hr>
        <p>
          ヘッダーの<strong>「商品登録」</strong>から新規商品の登録ができます。必須項目を全て入力してご登録ください。<br>
          画像はjpegを推奨しています。<br>
          また、商品にはタグを追加することが出来ます。季節に合わせたイベントを開催し、<strong>開催中のイベントタグ</strong>を商品に紐付けることで参加することが出来ます。<br>
          開催中のイベントは商品登録や商品編集画面のタグ登録部分に表示されるので、ぜひ、ご参加ください。<br>
          商品は、公開、非公開の設定も可能ですが、予約情報との関連付けのために<strong>一度公開されると削除ができない</strong>ようになっています。
          内容を十分に確認してから公開をお願いいたします。<br><br>
          商品詳細画像の登録は、新規商品登録後に追加できるようになります。<br>
          商品管理ページから「商品詳細の画像・内容の編集」を押下すると商品詳細ページを開くことが出来るので、ここから詳細画像やコメントの追加、編集を行ってください。<br>
          新しい画像は「商品詳細を追加する」から登録することが出来ます。既に登録された画像やコメントは、コメント部分を押下することで編集、削除が可能になります。<br><br>
          商品画像を登録した際に、システム上で植物や花との関連性が低いと思われる画像と判断された場合、該当する商品ページは自動で非公開に変更されます。再度正しい画像を登録し直せば商品ページを公開することが出来るようになります。<br><br>
          また、商品のTOP画像や商品情報を編集する際は、商品管理ページの「商品情報の編集」から編集が可能です。
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          ご予約の流れ
        </h3>
        <hr>
        <p>
          予約が入ると管理画面の<strong>「予約履歴管理」</strong>から予約状況を確認することが出来ます。<br>
          <strong>【予約を受け付ける前に】</strong><br>
          来店日時は、ショップの定休日、営業時間を一般ユーザー側で各自確認して指定される仕組みになっています。定休日や営業時間、臨時休業の登録内容に不備がないようご注意ください。<br>
          商品によってキャンセル期限を登録する項目を設けています。キャンセル規定に関して特筆する内容がある場合は、ショップ詳細ページや商品詳細ページにてご記載ください。※予約時に予約当日以前の日付は指定できません。<br><br>
          ・予約が確定すると、「現在の予約」の欄に会員情報の名前、住所、電話番号が予約内容として反映されます。<br>
          ・予約者が来店されたら商品の販売、商品代金は来店時にお客様にご請求ください。<br>
          ※来店時の支払方法に不備や抜けがないよう、ショップ情報の登録をお願いいたします。 <br>
          ・商品の受け渡しが完了したら、<strong>「予約詳細を見る」</strong>から予約詳細画面に入り、<strong>予約状況を実際の「来店日時」に変更して「来店済み」に更新</strong>してください。<br>
          予約状況が来店済みになると、ユーザーのマイページから口コミが投稿できるようになります。（口コミの投稿期限は2週間です）
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          予約状況を確認する
        </h3>
        <hr>
        <p>
          予約一覧ページでは、現在予約中の商品と、過去の予約履歴を確認することが出来ます。<br>
          <strong>「予約合計金額」</strong>はユーザーがサイトから予約した際の金額になります。来店時にショップとのやり取りや追加の注文などがあった際も、履歴には反映されませんのでご注意ください。<br>
          予約内容詳細の予約者情報は来店時の情報になります。ユーザー側で会員情報を変更してもこちらの表記には反映されません。<br>
          予約履歴の商品情報は予約時の情報が反映されています。商品ページを修正しても予約履歴の商品名や金額は変わりませんが、予約内容詳細からリンクしている商品ページ内の表記は最新の情報に上書きされます。<br>
          <strong>「お客様情報を見る」</strong>を押下するとユーザーごとの予約履歴を確認することもできます。ユーザーとのメッセージのやり取りがある場合はこちらの「メッセージを見る」から確認することも可能です。
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          予約のキャンセル
        </h3>
        <hr>
        <p>
          予約商品にはそれぞれ、キャンセル期限を設定する必要があります。<br>
          ショップが定めたキャンセル期限内の場合、サイトからのキャンセルが可能となっています。
        </p>
        <h3 class="d-flex flex-column mt-5">
          キャンセル料について
        </h3>
        <hr>
        <p>
          当サービスとしてはキャンセル期限が過ぎたらキャンセル料が発生するとしていますが、キャンセル規定の詳細については、ショップ詳細ページや商品詳細ページにてご記載ください。
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          口コミ
        </h3>
        <hr>
        <p>
          口コミは、予約後にショップへ来店して実際に購入された会員の方の投稿です。口コミの投稿期限は来店から2週間以内となっています。<br>
          1回の予約に対して口コミの投稿は1回になり、投稿後に編集はできません。<br>
          ショップ側からの削除や非公開設定も不可となっています。<br><br>
          また、以下のように不適切な内容と判断した場合、管理者側で口コミを非表示にする場合もあります。<br>
          ・実際に利用していない会員の投稿<br>
          ・意図的な同一内容の多数投稿<br>
          ・商品やショップと関係ない内容<br>
          ・事実と反する内容・虚偽の内容<br>
          ・著作権、商標権、プライバシー権、名誉等、他者の権利を侵害する内容<br>
          ・個人の名前・電話番号その他の連絡先の投稿<br>
          ・誹謗中傷や差別表現などの不適切な内容<br>
          ・掲示板に掲示することが不適切と管理者側で判断した内容
        </p>
      </div>
    </div>

    <div class="about-point bg-info-subtle">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          メッセージ
        </h3>
        <hr>
        <p>
          左ナビ（スマートフォンの場合はページ下部のメニュー欄）の「メッセージ管理」からは、ユーザーとのメッセージ一覧を確認することが出来ます。<br>
          ※最初のメッセージはユーザーからしか送ることが出来ません。<br>
          メッセージは新着順に表示され、メッセージを押下すると各ユーザーとのメッセージのやり取りが出来ます。<br>
          <strong>ユーザーからメッセージが届くと、メッセージ一覧での表示が「対応待ち」になります。</strong>メッセージが届いたら、入力フォームに返信内容を入力して「送信」ボタンを押下してください。<br>
          ユーザーとのやり取り完了後、<strong>個別ページ内で「対応待ち」に変更</strong>することで対応状況を変更することが出来ます。
        </p>
      </div>
    </div>

  </div>
</div>