<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>New Item</h2>
    <hr>
    <%= render 'public/items/index', items: @items %>

    <h2>Ranking</h2>
    <hr>
    <h3>花束</h3>
    <hr>
    <h3>アレンジ</h3>
    <hr>
    <h3>お祝い</h3>
    <hr>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_info' %>
    <%= render 'layouts/shop_homes_menu' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>