<% if member_signed_in? %>
  <table class="table">
    <tr>
      <th class="bg-member text-center">会員</th>
    </tr>
    <tr>
      <td>
        <%= current_member.nickname %>
      </td>
    </tr>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="bg-member text-center">会員メニュー</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-link">
        <td>お気に入りショップの新着品(リンク未)</td>
      </tr>
      <tr class="tr-link">
        <td>お気に入りショップ品(リンク未)</td>
      </tr>
      <tr class="tr-link">
        <td>ブックマークした商品(リンク未)</td>
      </tr>
      <tr class="tr-link" onclick='window.location="<%= pre_orders_path %>"' role="link">
        <td>予約一覧</td>
      </tr>
      <tr class="tr-link" onclick='window.location="<%= edit_information_path %>"' role="link">
        <td>会員情報編集</td>
      </tr>
      <tr class="tr-link">
        <td><%= link_to "ログアウト", destroy_member_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？" %></td>
      </tr>
    </tbody>
  </table>
<% end %>