<table class="table">
  <tr>
    <th>会員メニュー</th>
  </tr>
  <tr>
    <td>お気に入りショップの新着</td>
  </tr>
  <tr>
    <td>お気に入りショップ</td>
  </tr>
  <tr>
    <td>ブックマークした商品</td>
  </tr>
  <tr>
    <td>予約一覧</td>
  </tr>
  <tr>
    <td><%= link_to "会員情報編集", edit_information_path %></td>
  </tr>
  <tr>
    <td><%= link_to "ログアウト", destroy_member_session_path %></td>
  </tr>
</table>