<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h1>お気に入りショップの新着</h1>
    <hr>
    <p>新着商品を並べる</p>

  </div>
  <div class="col-3 px-3">
    <%= render 'info' %>
    <%= render 'menu' %>
  </div>
</div>