<table class="table">
  <tr>
    <th>管理者メニュー</th>
  </tr>
  <tr>
    <td>連絡一覧</td>
  </tr>
  <tr>
    <td>口コミ一覧</td>
  </tr>
  <tr>
    <td><%= link_to "ショップ一覧", admin_shops_path %></td>
  </tr>
  <tr>
    <td><%= link_to "ユーザー一覧", admin_members_path %></td>
  </tr>
</table>