<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h1>連絡一覧を表示</h1>
    <hr>



  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/admin_menu' %>
  </div>
</div>