<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h1>ご予約ありがとうございます</h1>
    <p>来店日は　日です。ご来店お待ちしております。</p>
    <%= link_to '予約状況を確認する', pre_orders_path, class: "btn btn-info" %>
  </div>
</div>