<div class="container d-flex flex-row-reverse pt-3 mt-5">
  <div class="col-9 px-3">
    <h2>ご予約が完了しました。ありがとうございます。</h2>
    <%= link_to '予約状況を確認する', pre_orders_path, class: "btn btn-info mt-5" %>
  </div>
</div>