body {
  font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Hiragino Maru Gothic W4 JIS2004", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  color: #404040!important;
  word-break: break-all;
  overflow-wrap: break-word;
}

input,
.form-select {
    border-radius: 3px!important;
}

::placeholder {
    color: #A8A8A8!important;
}

a {
    color: #467675!important;
    text-decoration: none!important;
    font-weight: bold;
}

a:hover {
    color: #E15C67!important;
}

img:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
}

h1.page-title{
    font-size: 0.7em;
    padding: 3px 10px;
    background-color: #E3DECC;
    color: #968582;
}

// パンくず
.breadcrumb {
    list-style: none;
}

.breadcrumb li:after {
    content: '>';
    padding: 0 0.2em;
    color: #B7B7B7;
}

.breadcrumb li:last-child:after{
    content: '';
}

// ボタンの色
.member-btn .btn{
    background-color: #8A764E!important;
    color: #fff!important;
}

.admin-btn .btn{
    background-color: #A9A9A9!important;
    color: #fff!important;
}

.shop-btn .btn{
    background-color: #3F8D99!important;
    color: #fff!important;
}

.shop-btn .item-btn{
    background-color: #D1E5E8!important;
    color: #1B7785!important;
}

.member-btn a:hover,
.admin-btn a:hover,
.shop-btn a:hover{
    background-color: #FCDEDD!important;
    color: #FC7A80!important;
}

// 画像の比率
.item-img-ratio {
    height: auto!important;
    aspect-ratio: 4 / 5!important;
}

.pickup_img-ratio {
    width: 100%!important;
    height: auto!important;
    aspect-ratio: 7 / 3!important;
    object-fit: cover!important;
}

// bootstrapの設定変更
.btn,
.card,
.card-img-top,
.list-group-item{
    border-radius: 3px!important;
    font-weight: bold!important;
}

.table-bordered th{
    background-color: #DBDBDB!important;
}

.table-bordered td{
    background-color: #F3F3F3!important;
}

.table-borderless th,
                  td {
    background-color: #EBEBEB!important;
}

.btn-info {
    background-color: #A3D2D1!important;
    border: 2px solid #A3D2D1!important;
    color: #467675!important;
}

.btn-outline-info {
    background-color: #E1F0F0!important;
    border: 2px solid #AFCCCC!important;
    color: #5DB1B0!important;
}

.btn-info:hover,
.btn-outline-info:hover{
    background-color: #F1D8D8!important;
    border: 2px solid #F1D8D8!important;
    color: #D9908F!important;
}

.hover-none {
    pointer-events: none;
}

 h3.bg-info {
     background-color: #A3D2D1!important;
     margin-top: 20px;
     margin-bottom: -10px;
 }

div.bg-info {
    background-color: #7EBAB9!important;
}

small.bg-info {
    background-color: #A3D2D1!important;
    font-size: 12px;
}

div.bg-info-subtle {
    background-color: #D9EDED!important;
}

div.bg-danger {
    background-color: #EAACA9!important;
}

.alert-danger {
    color: #B76B68!important;
    background-color: #F6DAD8!important;
    border-color: #F6DAD8!important;
}

.alert-success {
    color: #0A9191!important;
    background-color: #CFEDED!important;
    border-color: #CFEDED!important;
}

.text-danger,
label.text-danger {
    color: #C33E4C!important;
}

label.text-success {
    color: #008276!important;
}

.form-check-input:checked {
  border-color: #EAEAEA!important;
  background-color: #F69BA2!important;
}


// 背景色
.bg-member {
    background-color: #b0a88d!important;
    color: #fff!important;
}

.bg-shop{
    background-color: #8CAFB1!important;
    color: #fff!important;
}

.bg-admin{
    background-color: #ccc!important;
}

.bg-gray {
    background-color: #F9F9F9!important;
}

// 登録・編集フォーム

.table-member th,
.table-member td{
    background-color: #EAE6D8!important;
}

.table-shop th,
.table-shop td{
    background-color: #DEE9EA!important;
}

// ヘッダーフッター
footer{
    color: #fff;
}

header,
footer{
    color: #fff;
    background-color: #b0a88d;
}

.admin-header,
.admin-footer{
    background-color: #ccc;
}

.shop-header,
.shop-footer{
    background-color: #8CAFB1;
}

.header-icon i {
    font-size: 2em;
}

.header-nav small {
    font-size: 0.8em!important;
}

// 左ナビのリンク
.tr-menu {
    cursor: pointer;
      td {
      background-color: #F9F9F9!important;
      font-weight: bold!important;
      color: #467675!important;
  }
}

.tr-menu td:hover{
    color: #E15C67!important;
    background-color: #F9EDEF!important;
}

.tr-menu td::before{
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #467675;
    display: inline-block;
    padding-left: 5px;
}

// .tr-link {
    // cursor: pointer;
// }

// 商品一覧
.card-img-top {
    object-fit: cover;
    height: 370px;
}

.card-title {
    overflow: hidden;
    display: -webkit-box; // Chrome、Safariのみ？
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.shop-introduction {
    overflow: hidden;
    display: -webkit-box; // Chrome、Safariのみ？
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.btn-tag {
    background-color: #E3F2F2!important;
    border: 1px solid #81C0C0!important;
    color: #81C0C0!important;
    font-weight: normal!important;
}

.btn-tag:hover {
    background-color: #F2E5E3!important;
    border: 1px solid #CC9B98!important;
    color: #CC9B98!important;
    font-weight: normal!important;
}

// ページネーション
.paginate{
    margin: -10px 0;
}

.pagination>li>a {
    border: none;
    color: #696969;
    font-weight: normal;
}

.pagination>.active>a {
    background: #D8D8D8;
    border-radius: 5px;
    font-weight: normal;
}

.pagination>li>a:hover {
    border-radius: 5px;
}

// エラーメッセージ
.text-error ul {
    background-color: #F3D4D2!important;
}
.text-error li {
    color: #A0615E!important;
}


@media (max-width: 1200px) {
    .container {
        width: 100%!important;
        max-width: 1200px!important;
    }

    .item-index {
        width: 50%!important;
    }

    div.site-title {
        width: 100%!important;
        padding: 12px 0 0!important;
        p {
            font-size: 30px!important;
            margin-top: -10px!important;
        }
    }
}


@media (max-width: 992px) {
    div.container {
        width: 100%!important;
        max-width: 900px!important;
        padding: 0px 5px 0!important;
    }

    div.main-content,
    div.left-content,
    div.login-content,{
        width: 100%!important;
        padding: 18px 0 0!important;
    }

    .alert-danger,
    .alert-success{
        width: 90%!important;
        padding: 18px!important;
    }

    .header-nav {
        width: 100%!important;
    }

    .site-title p {
        text-align: center;
    }
}


@media (max-width: 768px) {
    .container {
        width: 100%!important;
        max-width: 700px!important;
    }

    div.header-nav {
        padding: 12px 0 6px!important;
    }

    div.header-icon {
        padding: 12px 3px!important;
    }

    footer p {
        width: 100%!important;
    }

    .pickup_img-ratio {
        aspect-ratio: 7 / 5!important;
    }

    .wide-item {
        width: 100%!important;
    }

    div.wide-pickup {
        padding: 5px!important;
    }

    .wide-btn {
        width: 100%!important;
    }

    .login-content div.col-6 {
        width: 100%;
    }

    // 投稿フォーム
    .form-table {
        width: 100%!important;
    }
    table.form-table  th,
    table.form-table  td {
        display: block!important;
        width: 100%!important;
    }

    .form-table th {
        padding: 10px!important;
    }
}