.bg-info{
    background:#ccc;
    color: #fff;
}

footer{
    color: #fff;
}

header,
footer{
    color: #fff;
    background-color: #deb068;
}

.admin-header,
.admin-footer{
    background-color: #ccc;
}

.shop-header,
.shop-footer{
    background-color: #84b9cb;
}

tr {
  cursor: pointer;
}