<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>ブックマークした商品</h2>
    <hr>
    <%= render 'index', items: @items %>

    <!--ページネーション-->
      <%= render 'layouts/paginate', content: @items %>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>