<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>ブックマークした商品</h2>
    <hr>
    <%= render 'index', items: @items %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_info' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>