<div class="col-2">
  <%= f.select :type, options_for_select({'商品' => 'item','お客様予約商品' => 'member_item', 'お客様情報' => 'member'}), {}, {:class => "form-control"} %>
</div>
<div class="col-2">
  <%= f.select :method, options_for_select({'部分一致' => 'partial', '完全一致' => 'perfect', '前方一致' => 'forward', '後方一致' => 'backward'}), {}, {:class => "form-control"} %>
</div>